<%= stylesheet_link_tag "event_calendar" %>
<%= javascript_include_tag 'event_calendar' %>

<div class='mainform'>


<h3><%= link_to "My Calendar", dashboard_calendar_path %></h3>

<% if current_user.status == 'client_candidate' %>
  <%= render partial: "prospective_clientmessage.html.haml" %>
<% elsif current_user.status == "volunteer_candidate" %>
  <%= render partial: "prospective_volmessage" %>
<% elsif current_user.status == "client" %>
  <%= render partial: "clientmessage" %>
<% elsif current_user.status == "volunteer" %>
  <%= render partial: "volmessage" %>
<% else %>
  <% if App.find_by_user_id(current_user.id) != nil %>
    <h1>Welcome, <%= App.find_by_user_id(current_user.id).first_name %></h1>
  <% end %>
  <h2>Your current status is: <%= current_user.status %></h2>
<% end %>

</div>

