.body
  .mainform
    %h1 Add New Event
    = form_tag dashboard_calendar_events_path, :method => :post do
      .below
        = label :event, :name, 'Event Name'
      = text_field :event, 'name'
      %p
      .below
        = label :event, :location, 'Location'
      = text_field :event, 'location'
      %p
      .below
        = label :event, :description, 'Description'
      = text_area :event, 'description'
      %p
        .datepair
          = label :event, :start_date, 'From'
          = text_field :event, 'start_date', class: "date start", value: "mm/dd/yyyy"
          = text_field :event, 'start_time', class: "time start", value: "hh:mm pm"

          = label :event, :end_date, '- To'
          = text_field :event, 'end_date', class: "date end"
          = text_field :event, 'end_time', class: "time end"

      %p
        .below
          = label :event, :color, 'Event Color'
          - [ 'red', 'green', 'orange', 'blue' ].each do |color|
            %div{:id => color, :class => "color"} 
              = color 
              = radio_button :event, :color, @color = color
    


      %p
        = submit_tag 'Save Event'
