<%= stylesheet_link_tag "admin_page" %>

<body id='admin_body'>


  <div class="learningShelterLogo", align="right"> 
    <%= image_tag("logo_wrench_bed.png") %>
  </div>
  <h1 class='maintitle'>Welcome to Admin Page</h1>
  <h3><%= link_to "Admin Calendar", admin_calendar_path %></h3>


  <ul id="list">
    <li><a href="#users">Current Users</a></li>
    <li><a href="#clients">Program Application</a></li>
    <li><a href="#volunteers">Volunteer Application</a></li>
  </ul>

  <div class="contents">
  <div class="content" id="users">
    <div id ="usertable">
      <table>
        <tr> 
	  <th> User ID </th>
	  <th> User E-mail </th>
	  <th> Application </th>
	</tr>
	<% @users.each do |user| %>
	<tr>
  	  <td><%= user.id %> </td>
	  <td><%= user.email %></td>
	  <td><%= user.apps %></td>
	</tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="content" id="clients">
    <div id ="clienttable">
      <table>
        <tr> 
	  <th> First Name </th>
	  <th> Last Name </th>
	  <th> Gender </th>
	  <th> Birthday </th>
	  <th> Phone Number </th>
	  <th> Street Address </th>
	  <th> City </th>
	  <th> State </th>
	  <th> User ID </th>
	  <th> Submission Time </th>
	</tr>
	<% @clients.each do |client| %>
	<tr>
	  <td><%= client.first_name %> </td>
	  <td><%= client.last_name %></td>
	  <td><%= client.gender %></td>
	  <td><%= client.birthday %></td>
	  <td><%= client.phone %> </td>
	  <td><%= client.street_address %></td>
          <td><%= client.city %> </td>
	  <td><%= client.state %></td>
	  <td><%= client.user_id %></td>
	  <td><%= client.created_at %></td>
	</tr>
        <% end %>
      </table>
    </div>
  </div>

  <div class="content" id="volunteers">
    <div id ="volunteertable">
      <table>
        <tr> 
	  <th> First Name </th>
          <th> Last Name </th>
	  <th> Gender </th>
	  <th> Birthday </th>
	  <th> Phone Number </th>
	  <th> Street Address </th>
	  <th> City </th>
	  <th> State </th>
	  <th> User ID </th>
	  <th> Submission Time </th>
	</tr>
	<% @volunteers.each do |volunteer| %>
	<tr>
	  <td><%= volunteer.last_name %></td>
	  <td><%= volunteer.gender %></td>
	  <td><%= volunteer.birthday %></td>
	  <td><%= volunteer.phone %> </td>
	  <td><%= volunteer.street_address %></td>
          <td><%= volunteer.city %> </td>
	  <td><%= volunteer.state %></td>
	  <td><%= volunteer.user_id %></td>
	  <td><%= volunteer.created_at %></td>
	</tr>
        <% end %>
      </table>
    </div>
  </div>
  </div>



</body>

  


 

