.body
  .mainform
    %h1 Add New Event
    = form_tag events_path, :method => :post do
      .below
        = label :event, :title, 'Event Title'
      = text_field :event, 'title', :value => 'Untitled'
      %p
      .below
        = label :event, :location, 'Location'
      = text_field :event, 'location'
      %p
      .below
        = label :event, :description, 'Description'
      = text_field :event, 'description'

      %p
        .below
          = label :event, :start_time, 'Start Time'
          = datetime_select :event, :start_time
      %p
        .below
          = label :event, :end_time, 'End Time'
          = datetime_select :event, :end_time
      %p
        = submit_tag 'Save Event'
