.mainform
  %h1 #{@app.first_name}'s Application

  %ul#details
    %li
      Application Type:
      = @app.type
    %li
      First Name:
      = @app.first_name
    %li
      Last Name:
      = @app.last_name
    %li
      Gender:
      = @app.gender
    %li
      Birthday:
      = @app.birthday
    %li
      Phone number:
      = @app.phone
    %li
      Street Address:
      = @app.street_address
    %li
      City:
      = @app.city
    %li
      State:
      = @app.state
    %li
      Resume:
      = @app.resume
    %li
      Cover Letter:
      = @app.cover_letter

