%h1 Testing Applications Page

%table#apps
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Gender
      %th Birthday
      %th Phone Number
      %th Street Address
      %th City
      %th State
     
  %tbody
    - @volunteers.each do |volunteer|
      %tr
        %td= volunteer.first_name
        %td= volunteer.last_name
        %td= volunteer.gender
        %td= volunteer.birthday
        %td= volunteer.phone
        %td= volunteer.street_address
        %td= volunteer.city
        %td= volunteer.state


