%h1 Apply to be a Client

= form_tag dashboard_application_clients_path do

  = label :client, :first_name, 'First Name'
  = text_field :client, 'first_name'
  %br

  = label :client, :last_name, 'Last Name'
  = text_field :client, 'last_name'
  %br

  /make to checkbox?
  = label :client, :gender, 'Gender' 
  = text_field :client, 'gender'
  %br

  = label :client, :birthday, 'Birthday'
  = date_select :client, :birthday, start_year: 1950, end_year: Time.now.year - 10
  %br

  = label :client, :phone, 'Phone number' 
  = text_field :client, 'phone'
  %br

  = label :client, :street_address, 'Street Address' 
  = text_field :client, 'street_address'
  %br

  = label :client, :city, 'City' 
  = text_field :client, 'city'
  %br
  = label :client, :state, 'State' 
  = text_field :client, 'state'
  %br
  = label :client, :resume, 'Resume' 
  = text_field :client, 'resume', :rows => 5, :class => "span6", :placeholder => 'Please paste your resume here.'
  %br
  = label :client, :cover_letter, 'Cover Letter' 
  = text_field :client,'cover_letter', :rows => 5, :class => "span6", :placeholder => 'Please paste your cover letter here.'
  %br

  = submit_tag 'Apply'
