
%link{:type => "text/css", :rel => "stylesheet", :href => "/assets/stylesheets/app_style.css"}

.mainform
  %h1 Apply to be a Volunteer

  = form_tag dashboard_application_volunteers_path do

    = label :volunteer, :first_name, 'First Name', :class => "left"
    = text_field :volunteer, 'first_name', :class => "right"
    %br

    = label :volunteer, :last_name, 'Last Name', :class => "left"
    = text_field :volunteer, 'last_name', :class => "right"
    %br

    /make to checkbox?
    = label :volunteer, :gender, 'Gender' , :class => "left"
    = text_field :volunteer, 'gender', :class => "right"
    %br

    = label :volunteer, :birthday, 'Birthday', :class => "left"
    = date_select :volunteer, :birthday, start_year: 1950, end_year: Time.now.year - 10, :class =>"span3"
    %br

    = label :volunteer, :phone, 'Phone number' , :class => "left"
    = text_field :volunteer, 'phone', :class => "right"
    %br

    = label :volunteer, :street_address, 'Street Address' , :class => "left"
    = text_field :volunteer, 'street_address', :class => "right"
    %br

    = label :volunteer, :city, 'City' , :class => "left"
    = text_field :volunteer, 'city', :class => "right"
    %br
    = label :volunteer, :state, 'State' , :class => "left"
    = text_field :volunteer, 'state', :class => "right"
    %br
    = label :volunteer, :resume, 'Resume' , :class => "left"
    = text_field :volunteer, 'resume', :rows => 5, :class => "span6", :placeholder => 'Please paste your resume here.', :size => 100, :class => "right"
    %br
    = label :volunteer, :cover_letter, 'Cover Letter' , :class => "left"
    = text_field :volunteer, 'cover_letter', :rows => 5, :class => "span6", :placeholder => 'Please paste your cover letter here.', :size => 100, :class => "right"
    %br
    %br
    %br

    = label :temp, '', :class => "left"
    = submit_tag 'Apply',:class => "app_button"
