<!--add links to this list -->

  <% if user_signed_in? %>
    <li><a href="/" id="dashboard">My Dashboard</a></li>

    <% if current_user.admin? %>
      <li><%= link_to "Admin Page", admin_path, :id => 'admin'%></li>
    <% else %>
      <% if current_user.status == 'client_candidate' %>
        <li><a href="/dashboard/application/cl" id="application">Apply</a></li>
      <% else %>
        <li><a href="/dashboard/application/vol" id="application">Apply</a></li>
      <% end %>
    <% end %>

  <% else %>
    <li><a href="/" id="home">Home</a></li>
    <li><a href="/about" id="about">About Us</a></li>
    <li><a href="/donate" id="donate">Donate</a></li>
  <% end %>
  <li><a href="/events" id="events">Events</a></li>

<% if user_signed_in? %>
  <li> Signed in as <%= current_user.email %>. Not You? </li>
  <li> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
  <li> <%= link_to "Edit User", edit_user_registration_path %> </li>
<% else %>
  <li> <%= link_to "Sign in", new_user_session_path %> </li>
  <li> <%= link_to "Sign up", new_user_registration_path %> </li>
<% end %>